:root{
      --primary: #6366f1; /* Indigo */
            --primary-hover: #4f46e5;
            --background-gradient: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
            --glass-bg: rgba(255, 255, 255, 0.85);
            --text-dark: #1f2937;
            --text-light: #6b7280;
            --danger: #ef4444;
            --success: #10b981;
}
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Inter', sans-serif;
}
body{
   min-height: 100vh;
   background-color: rgb(220, 243, 250);
   display: flex;
   justify-content: center;
   align-items: center;
   color: var(--text-dark);
   
}
.container{
   width: 600px;
   background: var(--glass-bg);
   backdrop-filter: blur(10px);
   border-radius: 15px;
   box-shadow: 0 0 22px -6px rgba(179, 179, 238, 0.37);
   padding  : 2rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   overflow: hidden;

}
.header{
   padding: 0px 0px 25px 0px;
   justify-content: center;
   width: 100%;
   border-bottom: solid 0.5px var(--text-light);
   display: flex;
   flex-direction: column;
}
.top-header{
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
}
.top-header h1{
   font-size: 1.8rem;
   font-weight: 820;
   text-align: left;
   display: inline-block;
}
.top-header p{
   font-size: 1rem;
   margin-top: 5px;
   display: inline-block;
   text-align: right;
   color: var(--primary);
   font-weight: 730;
}
.bottom-header{
   color: var(--text-light);
   font-size: 0.95rem;
   margin-top: 5px;
   display: inline-block;
}
.input-div{
   width: 100%;
   display: flex;
   flex-direction: row;
   align-items: center;
   gap: 1rem;
   margin-top: 1.5rem;
}
#todo-input{
   background-color: rgba(246, 253, 255, 0.822);
   flex: 1;
   padding: 1rem 1rem;
   border: 2px solid transparent;
   /* border: 1px solid var(--text-light); */
   box-shadow: inset 0 0 5px 1px rgba(179, 179, 238, 0.37);
   border-radius: 8px;
   font-size: 1.1rem;
   outline: none;
}
#todo-input:focus-within{
   border-color: var(--primary);
   box-shadow: 0 0 3px 3px rgba(156, 156, 247, 0.37);
   background-color: var(--glass-bg);
}
.todo-date{
   background-color: rgb(243, 252, 255);
   flex: 1;
   padding: 1rem;
   border: none;
   /* border: 1px solid var(--text-light); */
   box-shadow: inset 0 0 5px 1px rgba(179, 179, 238, 0.37);
   border-radius: 8px;
   font-size: 1.1rem;
   outline: none;
   width: 150px;
   color: var(--text-light);
}
.todo-btn{
   padding: 0.5rem 1rem 0.5rem 1rem;
   border-radius: 9px;
   border-style: none;
   background-color: var(--primary);
   font-size: 1rem;
   color: white;  
   font-weight: 550;
   /* text-wrap: nowrap; */
   letter-spacing: -0.2px;
}
.todo-btn:hover{
   background-color: var(--primary-hover);
   cursor: pointer;
   
}